<%= stylesheet_link_tag 'welcome' %>

<div class="slider parallax-container">
  <ul class="slides">
  <% if @easter_egg %>
    <li>
      <div class="parallax">
        <%= image_tag "val.png" %>
      </div>
      <div class="caption center-align">
        <h1 class="drinkiit-brown">Bienvenue sur Drinkiit</h1>
        <h4 class="light grey-text text-lighten-3">Vous allez apprécier votre sandwich</h4>
        <br>
      </div>
    </li>
  <% end %>
  <% @categories.each do |category| %>
    <li>
      <div class="parallax">
        <%= image_tag category.image.url, :alt => "Image introuvable", :class => "backup_picture" %>
      </div>
      <div class="caption center-align">
        <!-- <h1 class="header center drinkiit-brown">Bienvenue sur Drinkiit</h1> -->
        <h1 class="drinkiit-brown"><%= category.name %></h1>
        <h4 class="light grey-text text-lighten-3"><%= category.description %></h4>
        <br>
        <div class="row center" style="margin-top: 10px;">
          <a href=<%= categories_path(:id => category.id) %> id="btn-commander" class="btn-large waves-effect waves-light red">commander</a>
        </div>
      </div>
    </li>
  <% end %>
  </ul>
</div>

<% if @categories.empty? %>
  <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center drinkiit-brown">Bienvenue sur Drinkiit</h1>
          <div class="row center">
            <h5 class="header col s12 light">le site de commande en ligne du célèbre club</h5>
          </div>
          <div class="row center">
            <a href="/order/categories" id="btn-commander" class="btn-large waves-effect waves-light red">commander</a>
          </div>
          <br><br>

        </div>
      </div>
      <div class="parallax">
        <%= image_tag "background1.jpg" %>     
      </div>
  </div>
<% end %>

<div class="container background hoverable" style="margin-top: 20px;">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row center">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Des commandes servies en un éclair</h5>

            <p class="light">Rappelez-vous que Drinkiit ne fait aucun ou très peu de bénéfice sur vos achats. Malgré cela, on se motive pour être le plus efficace possible afin de garantir à tous la meilleure expérience possible !</p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Une équipe de choc</h5>

            <p class="light">D'années en années une nouvelle équipe, composée principalement de 1As, se forme afin de vous servir tous les midis ! Voyez la composition de la nouvelle équipe <a href="/equipe#2015-2016">ici</a>.</p>
          </div>
        </div>
      </div>

    </div>
  </div>